.collections-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  line-height: 0.66rem;
}
.collections-nav img {
  width: 0.65rem;
  height: 0.66rem;
  margin-right: 1rem;
}
.collections-nav span {
  font-size: 0.48rem;
  color: white;
}
